/*
* VARIABLES ------------------------------------------------------ */
// Colors
$color-Primary-Blue: hsl(223, 87%, 63%);
$color-secondary-Pale-Blue: hsl(223, 100%, 88%);
$color-secondary-Light-Red: hsl(354, 100%, 66%); 
$color-neutral-Gray: hsl(0, 0%, 59%); 
$color-netural-Very-Dark-Blue: hsl(209, 33%, 12%); 
// Typography 
$Font-size-base: 1.25em;
$font-family-Franklin: 'Libre Franklin', sans-serif;