@import url(/assets/css/normalize.css);
@import '_variables';
@import '_general';
@import "fontawesome";
@import "brands";

/*
 *	CONTENT
 ------------------------------------------------------ */
main {
    margin: 3em 2em;
}

 .logo {
    width: 20%;
}

h1 {
    font-size: 1.2em;
    margin: 2em 0 1em;
}

.h1-span {
    font-weight: 300;
}

.h1-span, .copy {
    color: $color-neutral-Gray;
}

p {
    font-size: 0.7em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin: 2em 0 4em;
}

#email {
    font-size: 0.8em;
    color: $color-neutral-Very-Dark-Blue;
    border: 1.5px solid $color-secondary-Pale-Blue;
    border-radius: 2em;
    padding: 0.7em 2em;
    outline: none;
}

#email:placeholder-shown {
    color: $color-secondary-Pale-Blue;
}

.submit {
    font-size: 0.8em;
    font-weight: 600;
    background: $color-Primary-Blue;
    color: #fff;
    border: none;
    border-radius: 2em;
    padding: 0.7em 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 2px 5px #ccc;
}

.submit:hover, .submit:focus {
    cursor: pointer;
    background: hsla(223, 87%, 63%, 0.753);
}

/* Footer */
footer {
    margin-top: 5em;
}

.socials a:nth-child(2) {
    margin: 0 0.5em;
}

.socials a {
    text-decoration: none;
}

.fab {
    width: 42px;
    height: auto;
    color: $color-Primary-Blue;
    border-radius: 50%;
    border: 1px solid $color-secondary-Pale-Blue;
    padding: 0.35em;
}

.copy {
    margin: 2em 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}